html,
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  margin: auto;
  display: flex;
  flex-direction: row;
}

body {
  display: flex;
  background-color: #141b1c;
  height: 100vh;
}


section:nth-child(2) {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.orange {
  background-color: #EC632A;
}

.blue {
  background-color: #3A6BA5;
}

.green {
  background-color: #5BB189;
}

section:nth-child(2) {
  position: relative;
}