.price-card {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: white;
  margin: 0 9px;
  width: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

  &__title {
    display: block;
    text-align: center;
    // margin: 33px 102px;
    margin: 36px 102px 33px;
    width: 176px;
    height: 64px;
  }

  &__main-title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }

  &__price {
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
    height: 105px;
    text-align: center;
  }

  &__description {
    margin: 40px 26px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  &__options-list {
    display: flex;
    align-items: center;
    height: 50px;
  }

  &__options-list:nth-last-child(even) {
    background-color: #2A3438;
    // opacity: 0.5;
  }

  &__img {
    margin: 18px 22px 19px 22px;
    width: 15px;
    height: 13px;
    // opacity: 1;
  }

  &__options-list_text {
    font-size: 15px;
  }

  &__order-btn {
    display: flex;
    justify-content: center;
    width: 155px;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    border: none;
    color: white;
    align-items: center;
    font-size: 14px;
  }

  &__rectangle {
    background-color: #DC3F45;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    width: 147px;
    height: 25px;
    transform: rotate(45deg);
    position: absolute;
    top: 32px;
    right: -32px;
  }
}